@page
@using AspNetLabBook.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @* @foreach(var book in Model.Books)
    {
        <p>Author name: @book.AuthorName</p>
        <p>Genre: @book.Genre</p>
        <p>Release Year: @book.ReleaseYear</p>
        <p>Publisher: @book.Publisher</p>
        <p>Title: @book.Title</p>
        <h/>
    } *@

    
</div>